@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body{
    height: 6330px;
    background-color: black;
    color: white;
    font-family: 'Inter';
    font-style: normal;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 87px 88px;
}

header a{
    color: white;
    text-decoration-line: none;
}

.header_buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
}

.logo{
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
}

main{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.first_text{
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 400;
    font-size: 35px;
    max-width: 52%;
}

.first_title, .second_title, .third_title{
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 96px;
}

.second_text{
    display: flex;
    justify-content: center;
    font-weight: 300;
    font-size: 31px;
    text-align: center;
    max-width: 70%;   
}

.info_title{
    display: flex;
    align-self: flex-start;
    width: 50%;
    font-weight: 700;
    font-size: 61px;
    padding-left: 32px;
}

.info_text{
    display: flex;
    align-self: flex-start;
    font-weight: 400;
    font-size: 27px;
    padding-left: 32px;   
}

.info_quote{
    display: flex;
    font-weight: 400;
    font-size: 27px;
    align-self: flex-start;
    padding-left: 32px;
}

.web_dev,  .product, .graphic, .mobile_app{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 558px;
    height: 517px;
}

.web_dev{
    background: #F2F2F2;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
}

.product{
    background: #E2E2E2;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 1;
}

.graphic{
    background: #C0C0C0;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
}

.mobile_app{
    background: #B4B4B4;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 2;
}

.info{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    color: black;
}

.contact_title{
    display: flex;
    font-weight: 400;
    font-size: 96px;
}

.contact_info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 400;
    font-size: 64px;  
    padding-bottom: 3em; 
}

footer{
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white ;
}

.year {
    color: black;
    font-weight: 600;
    font-size: 20px;
}

.terms, .privacy{
    color: black;
    font-weight: 300;
    font-size: 20px;
}

.terms_priv{
    display: flex;
    gap: 99px;
}

.pictures{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

.pictures a{
    width: 564px;
    height: 544px;
}

.pic1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
}
.pic2{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 1;
}
.pic4{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
}
.pic3{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 2;
}
.pic11{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 3;
}
.pic12{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 3;
}

.people{
    display: flex;
}

.people img{
    width: 279px;
    height: 374px;
}

.burger-icon {
    display: none;
    cursor: pointer;
}
  
.burger-icon span {
    display: block;
    width: 20px;
    height: 2px;
    margin-bottom: 4px;
    background-color: white;
    border-radius: 10px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-device-pixel-ratio: 2) {
    
    body{
        height: 1502px;
        gap: 30px;
    }

    .header_buttons {
        display: none;
        z-index: 1;
    }

    .burger-icon {
        display: block;
    }

    .header_buttons {
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        z-index: 1;
        background-color: black;
        padding: 10px;
        text-align: center;
    }

    .header_buttons a {
        display: block;
        margin-top: 10px;
        padding-bottom: 10px;
        border-bottom: solid 1px #fff;
    }

    header{
        margin: 36px 34px;
    }

    .first_text{
        font-weight: 400;
        font-size: 11px;
    }
    
    .first_title, .second_title, .third_title, .contact_title{
        font-weight: 400;
        font-size: 25px;
    }

    .second_text{
        font-weight: 400;
        font-size: 8px;
    }

    .contact_info{
        font-weight: 400;
        font-size: 17px;
    }

    footer {
        display: flex;
        justify-content: center;
        background-color: black;
    }

    .year{
        font-weight: 700;
        font-size: 11px;
        color: #fff;
    }

    .terms_priv{
        display: none;
    }

    .section_one, .section_two, .section_three{
        width: 100%;
        overflow-x: auto;
    }

    .pictures{
        overflow-y: hidden;
        display: flex;
        gap: 1rem;
    }

    .pictures a, .pictures img{
        width: 209px;
        height: 202px;
    }

    .people{
        overflow-y: hidden;
        display: flex;
        gap: 5px;
    }

    .people img{
        width: 109px;
        height: 147px;
    }

    .info{
        overflow-y: hidden;
        display: flex;
        gap: 5px;
    }

    .info_title{
        font-weight: 700;
        font-size: 15px;
        padding-bottom: 5px;
        padding: 0px;
    }

    .info_text{
        font-weight: 400;
        font-size: 7px;
        padding-bottom: 20px;
        padding: 0px;
    }

    .info_quote{
        font-weight: 400;
        font-size: 7px;
        padding: 0px;
    }

    .web_dev, .product, .graphic, .mobile_app{
        width: 141px;
        height: 131px;
        flex-shrink: 0;
        padding: 10px;
    }
    
}